<app-navigation></app-navigation>
<div class="bottomBorder">
	<div class="container">
		<mat-grid-list cols="2" rowHeight="16:1">
			<mat-grid-tile class="fullheight">
				<div fxFlex fxLayoutAlign="start center">
					<button
						mat-button
						class="blueButton"
						routerLink="/overview/admin/new"
					>
						AJOUTER
					</button>
				</div>
			</mat-grid-tile>
			<mat-grid-tile class="fullheight">
				<mat-form-field>
					<mat-label>Filtre</mat-label>
					<input
						matInput
						(keyup)="applyFilter($event)"
						placeholder="Ex. ium"
					/>
					<span
						class="material-icons"
						mat-button
						matSuffix
						mat-icon-button
					>
						search
					</span>
				</mat-form-field>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
</div>

<div class="container">
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef>No.</th>
			<td mat-cell *matCellDef="let element">{{ element.id }}</td>
		</ng-container>

		<ng-container matColumnDef="nom">
			<th mat-header-cell *matHeaderCellDef>Nom</th>
			<td mat-cell *matCellDef="let element">{{ element.nom }}</td>
		</ng-container>

		<ng-container matColumnDef="prenom">
			<th mat-header-cell *matHeaderCellDef>Prenom</th>
			<td mat-cell *matCellDef="let element">{{ element.prenom }}</td>
		</ng-container>

		<ng-container matColumnDef="cin">
			<th mat-header-cell *matHeaderCellDef>CIN</th>
			<td mat-cell *matCellDef="let element">{{ element.cin }}</td>
		</ng-container>

		<ng-container matColumnDef="adresse">
			<th mat-header-cell *matHeaderCellDef>Adresse</th>
			<td mat-cell *matCellDef="let element">{{ element.adresse }}</td>
		</ng-container>

		<ng-container matColumnDef="telephone">
			<th mat-header-cell *matHeaderCellDef>Telephone</th>
			<td mat-cell *matCellDef="let element">{{ element.telephone }}</td>
		</ng-container>

		<ng-container matColumnDef="username">
			<th mat-header-cell *matHeaderCellDef>Username</th>
			<td mat-cell *matCellDef="let element">{{ element.username }}</td>
		</ng-container>

		<ng-container matColumnDef="email">
			<th mat-header-cell *matHeaderCellDef>Email</th>
			<td mat-cell *matCellDef="let element">{{ element.email }}</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef>Actions</th>
			<td mat-cell *matCellDef="let element">
				<button
					mat-icon-button
					color="warn"
					(click)="openDialog(element.id)"
				>
					<mat-icon>delete</mat-icon>
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
	<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
