<app-header></app-header>
<form [formGroup]="operationForm" (ngSubmit)="onSubmit()">
	<div class="bottomBorder">
		<div class="container">
			<mat-grid-list cols="2" rowHeight="16:1">
				<mat-grid-tile class="fullheight">
					<div fxFlex fxLayoutAlign="start center">
						<button
							mat-button
							class="blueButton"
							type="submit"
							value="Valider"
							[disabled]="!operationForm.valid"
						>
							Valider
						</button>
						<button mat-button class="blueButton" (click)="reset()">
							Rénitialiser
						</button>
						<button
							mat-button
							class="blueButton"
							(click)="gotoOperationList()"
						>
							Annuler
						</button>
					</div>
				</mat-grid-tile>
			</mat-grid-list>
		</div>
	</div>

	<div class="container content">
		<mat-grid-list cols="2" rowHeight="6:1">
			<mat-grid-tile>
				<mat-form-field class="formField">
					<mat-label>Type</mat-label>
					<mat-select disableRipple formControlName="type">
						<mat-option value="Versement">Versement</mat-option>
						<mat-option value="Retrait">Retrait</mat-option>
					</mat-select>
				</mat-form-field>
			</mat-grid-tile>
			<mat-grid-tile></mat-grid-tile>

			<mat-grid-tile>
				<mat-form-field class="formField">
					<mat-label>Somme en espece </mat-label>
					<input matInput type="text" formControlName="sommeEspece" />
				</mat-form-field>
			</mat-grid-tile>

			<mat-grid-tile>
				<mat-form-field class="formField">
					<mat-label>Devise</mat-label>
					<mat-select disableRipple formControlName="devise">
						<mat-option
							*ngFor="let currency of currencies"
							[value]="currency"
						>
							{{ currency.code }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
</form>
