html,
body,
blockquote,
code,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 2px;
  padding: 2px;
}
.background {
  height: 100%;
  background-color: #f5f7fa;
}

.container {
  padding-right: 25%;
  padding-left: 25%;
  padding-top: 2.5%;
  margin: 0 auto;
}

button {
  margin-right: 3px;
}
.whiteForm {
  background-color: white;
}
mat-form-field {
  width: 100%;
  margin: 2.5%;
}
.envoyer {
  padding: 2.5%;
}
.material-icons {
  transform: scale(8);
}
