<app-header></app-header>

  <div class="background">
  <form [formGroup]="transferForm" (ngSubmit)="openDialog()">
    <div class="container">
      <div class="whiteForm">
        <mat-grid-list cols="2" rowHeight="6:1" [gutterSize]="'20px'">
          <mat-grid-tile colspan="2" rowspan="3">
            <mat-form-field appearance="outline" class="a">
              <mat-label>Envoyé à</mat-label>
              <mat-icon matPrefix class="icon-prefix-padding">person</mat-icon>
              <input matInput type="text" placeholder="Entrer le numéro du destinataire" formControlName="numero"
              >
              <mat-error *ngIf="accountNotFound">
                Entrez un numero de compte valide.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2" rowspan="3">
            <mat-form-field appearance="outline" class="b">
              <mat-label id="label">Somme envoyée</mat-label>
              <mat-icon matPrefix class="icon-prefix-padding">euro_symbol</mat-icon>
              <input matInput type="text" placeholder="Entrer la somme à envoyer XX.XX" formControlName="somme">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2" rowspan="3">
            <h1>Votre solde actuel : {{ account1.solde | number: "1.2-2" }} {{ account1.devise.code }}</h1>
          </mat-grid-tile>

          <mat-grid-tile colspan="2" rowspan="3">
            <div class="envoyer" fxFlex fxLayoutAlign="flex-end">
              <button type="submit" mat-raised-button color="primary">
                Envoyer
              </button>
            </div>
          </mat-grid-tile>

        </mat-grid-list>
      </div>
    </div>
  </form>
</div>


