html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 2%;
	margin-left: 2%;
}
.yellowButton {
	background: #ffc107;
	color: white;
	margin: 0 5px !important;
}
.blueButton {
	background: #3f51b5;
	color: white;
}

.formField {
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
}
mat-form-field {
	display: block;
}

.content {
	border: 1px solid #dee2e6;
}
.error {
	font-size: small;
	color: red;
}

.fullheight {
	height: 100%;
}
mat-card {
	max-width: 400px;
	margin: 2em auto;
	text-align: center;
}
table {
	width: 100%;
}
mat-card {
	max-width: 400px;

	margin: 2em auto;

	text-align: center;
}

mat-form-field {
	display: block !important;
}
